DB_HOST=localhost
DB_PORT=5432
DB_NAME=payment_gateway
DB_USERNAME=payment_user
DB_PASSWORD=payment123

COREBANK_URL=http://localhost:8080
BILLER_URL=http://localhost:8080

JWT_ISSUER_URI=http://localhost:8081/realms/payment-gateway
JWT_JWK_SET_URI=http://localhost:8081/realms/payment-gateway/protocol/openid-connect/certs

APP_SECURITY_PERMIT_ALL=false
